
* {font-family: "poppin", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    /* background-color: rgb(40, 42, 46);
    /* background-image: url(image.jpg.jpg); */
    background-size: cover;
    background-repeat: no-repeat; 
}

.nav {
    /* : #71C9CE; */
    height: 60px;
    position: sticky;
    padding-top: 18px;
    /* background-color: rgb(40, 42, 46); */
}

nav-bar {

    font-family: "poppin", sans-serif;
    font-size: 20px;
    list-style: none;



}

ul {
    list-style: none;
    position: sticky;
    display: flex;
    gap: 20px;
    justify-content: center;
    border-radius: 20;
    height: 42px;
}

nav-bar li a {
    text-decoration: none;
    color: #374151;
}

#h2 {
    border-style: outset;
    border-color: rgba(30, 203, 180, 0.639);
    border-radius: 10px;
    border-spacing: 30px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    float: none;
}

#h3 {padding-bottom: 12px;
    font-size: xx-large;
    border-spacing: 30px;
    justify-content: left;
    margin-right: 200px;
    font-weight: 700;
}

section {

    bottom: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    border-width: 10px;

}

.footer {
    position: static;
    bottom: 0px;
    width: 100vw;
    background-color:#111827;
}
#quick-link{
    padding: 10px;
    font-size: 1.2em;
}
.logo{height: 40px;
}
.logo i{
    height: 40px;
    width: 40px;
    padding-left: 20px;
}
#contact{font-size: 2em;
    height: 40px;
    padding: 10px;
}
#reserved{
    height: 40px;
    padding: 20px;
}
#main {
    height: 200px;
}